@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    color: black;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1340px;
    padding-left: 50px;
    padding-right: 50px;
}
h1 {
    font-weight: 700;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}
h2 {
    font-weight: 700;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}
h3 {
    font-weight: 700;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
h4 {
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
h5 {
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
/*------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------SECTION HEADER--------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
#logo {
    height: 19px;
    padding-top: 44px;
    padding-bottom: 63px;
}
a:visited, a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #0065FC;
}
header {
    height: 126px;
    display: flex;
    justify-content: space-between;
}
.navigation {
    display: flex;
    height: 126px;
    width: auto;
    padding: 0;
    margin: 0;
}
.sous-menu {
    width: 162px;
    padding-top: 48px;
    padding-bottom: 59px;
    margin: 0;
    display: flex;
    justify-content: center;
}
.menu-1 {
    border-top: 2px solid #FFFFFF;
    width: 162px;
}
.menu-1:hover {
    cursor: pointer;
    border-top: 2px solid #0065FC;
}
.menu-2 {
    border-top: 2px solid #FFFFFF;
    width: 162px;
}
.menu-2:hover {
    cursor: pointer;
    border-top: 2px solid #0065FC;
}
.menu-hebergements {
    width: 113px;
    text-align: center;
}
.menu-activites {
    width: 63px;
    text-align: center;
}
/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------SECTION MAIN RECHERCHE----------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/*TAILLES DE POLICES EN <MAIN>*/
.main-title {
    margin-bottom: 20px;
}
.main-title h4 {
    margin-top: 13px;
}
/*BOUTON DE LOCALISATION*/
.location-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    padding: 16px 18px 15px 18px;
    border-radius: 15px 0px 0px 15px;
}
.location-dot i {
    width: 14px;
    height: 18px;
}
/*BARRE DE RECHERCHE*/
.section-search-bar {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding: 0;
}
.section-search-bar-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 49px;
    width: 332px;
    font-size: 18px;
    padding: 0;
    background-color: #F2F2F2;
    border-radius: 15px;
}
/*ZONE DE RECHERCHE*/
.search-zone-text{
    color: black;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    border: 0;
    padding-left: 16px;
    padding-right: 0px;
    width: 232px;
    height: 47px;
    border: #F2F2F2;
}
::placeholder {
    font-family: 'Raleway';
    color: black;
}
/*BOUTON "RECHERCHER"*/
.search-button {
    display: flex;
    align-items: center;
    height: 49px;
    width: 132px;
    background-color: #0065FC;
    border-radius:  0px 15px 15px 0px;
}
#bouton-rechercher {
    font-weight: 700;
    width: 100px;
    height: 21px;
    margin: 0;
    color: white;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
}
#bouton-rechercher-loupe {
    display: none;
}
/*------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------FILTRES------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.filtres-de-recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
    max-width: 914px;
    height: 50px;
}
.filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 2px solid #D9D9D9 ;
    background-color: #FFFFFF;
    border-radius: 25px;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    font-weight: 700;
}
.filtre:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}
.filtre i {
    margin-right: 10px;
    color: #0065FC;
    font-size: 22px;
}
/*------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------INFORMATIONS----------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.informations {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    max-height: 24px;
}
.logo-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
    max-width: 24px;
    max-height: 24px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}
.logo-info i {
    color:#0065FC;
}
/*------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------HEBERGEMENTS----------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
#hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1339px;
    margin-top: 37px;
}
/*Etoiles d'évaluation*/
.stars-evaluation {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    width: 68px;
}
.blue-star {
    color:#0065FC
}
.grey-star {
    color: #F2F2F2;
}
/*------------------------------------------------------------------------------------------------------*/
/*-------------------------------------HEBERGEMENTS EN VILLE--------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.hebergements-en-ville {
    width: 880px;
    padding: 40px 40px 40px 40px;
    border-radius: 20px;
    margin-right: 40px;
    background-color: #F2F2F2;
}
.all-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    max-width: 800px;
}
.all-cards .card {
    display: flex;
    flex-direction: column;
    height: 189px;
    width: 236px;
    margin-top: 23px;
    background-color: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    text-decoration: none;
    color: black;
}
.card-image img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    max-height: 114px;
    object-fit: cover;
}
.card-description {
    display: flex;
    flex-direction: column;
    width: 204px;
    margin-left: 11px;
    margin-top: 4px;
}
.card-description h5 {
    margin-top: 5px;
    margin-bottom: 7px;
}
#afficher-plus {
    display: flex;
    margin-left: 9px;
    margin-top: 40px;
}
/*------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------LES PLUS POPULAIRES------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.hebergements-populaires {
    order: 2;
    max-width: 420px;
    background-color: #F2F2F2;
    padding: 40px 40px 0px 40px;
    border-radius: 20px;
}
.titre-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.titre-populaires i {
    color: #0065FC;
}

/*Toutes les cartes Populaires*/
.all-populaires {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 26px;
}
.carte-populaire {
    display: flex;
    flex-direction: row;
    width: 343px;
    height: 134px;
    padding: 0;
    margin: 0;
    margin-bottom: 33px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border: 5px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 20px;
}

/*Image de carte*/
.card-image-populaires img {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 134px;
    width: 132px;
    object-fit: cover;
    border-right: 5px solid #FFFFFF;
}

/*Texte de carte*/
.description-populaires {
    margin-top: 14px;
    margin-left: 15px;
    height: 100px;
}
.description-populaires h5{
    margin-top: 7px;
}

/*Alignement des étoiles en bas de la carte*/
.carte-populaire .stars-evaluation {
    margin-left: 15px;
    flex-direction: row;
    align-items: flex-end;
}
/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------ACTIVITES EN VILLE--------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
#activites-en-ville {
    margin-top: 60px;
    max-width: 100%;
}
.liste-activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    max-height: 445px;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 0px;
}
.carte-activite {
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: #FFFFFF;
    border-radius: 20px;
    max-width: 302px;
    height: 445px;
}
.activite-photo {
    display: flex;
    flex-direction: column;
    height: 389px;
}
.activite-photo img {
    display: flex;
    object-fit: cover;
    height: 389px;
    max-width: 302px;
    border-radius: 20px 20px 0px 0px;
}
.activite-sous-titre {
    display: flex;
    align-items: center;
    height: 56px;
    margin-left: 19px;
}
/*------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------FOOTER-------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
footer {
    margin-top: 60px;
    background-color: #F2F2F2;
    height: 225px;
    width: auto;
}
.all-footers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
    margin-left: 70px;
    max-width: 1012px;
    margin-right: 327px;
    margin-bottom: 58px;
}
.footer-list {
    display: flex;
    flex-direction: column;
}
.footer-list h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}
.footer-list h4 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
}