@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    color: black;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1339px;
    padding-left: 50px;
    padding-right: 50px;
}
h1 {
    font-weight: 700;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}
h2 {
    font-weight: 700;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}
h3 {
    font-weight: 700;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
h4 {
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
h5 {
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
/*------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------SECTION HEADER--------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
#logo {
    height: 19px;
    padding-top: 44px;
    padding-bottom: 63px;
}
header div:hover {
    cursor: pointer;
    border-top: 2px solid #0065FC;
}
a:visited, a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #0065FC;
}
header {
    height: 126px;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    height: 126px;
    width: auto;
    padding: 0;
    margin: 0;
}
nav li {
    width: 162px;
    padding-top: 48px;
    padding-bottom: 59px;
    margin: 0;
    display: flex;
    justify-content: center;
}
.menu-1 {
    border-top: 2px solid #FFFFFF;
    width: 162px;
}
.menu-hebergements {
    width: 113px;
    text-align: center;
}
.menu-2 {
    border-top: 2px solid #FFFFFF;
    width: 162px;
}
.menu-activites {
    width: 63px;
    text-align: center;
}
/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------SECTION MAIN RECHERCHE----------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.main-title { margin-bottom: 20px; }
.main-title h2 { margin-top: 8px; }
/*BOUTON DE LOCALISATION*/
.location-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    padding: 16px 18px 15px 18px;
    border-radius: 15px 0px 0px 15px;
}
.location-dot i {
    width: 14px;
    height: 18px;
}
/*BARRE DE RECHERCHE*/
.section-search-bar {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding: 0;
}
.section-search-bar-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 49px;
    width: 332px;
    font-size: 18px;
    padding: 0;
    background-color: #F2F2F2;
    border-radius: 15px;
}
/*ZONE DE RECHERCHE*/
.search-zone-text{
    color: black;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    border: 0;
    padding-left: 16px;
    padding-right: 0px;
    width: 232px;
    height: 47px;
    border: #F2F2F2;
}
::placeholder {
    font-family: 'Raleway';
    color: black;
}
/*BOUTON "RECHERCHER"*/
.search-button {
    display: flex;
    align-items: center;
    height: 49px;
    width: 132px;
    background-color: #0065FC;
    border-radius:  0px 15px 15px 0px;
}
.search-button a {
    font-weight: 700;
    width: 100px;
    height: 21px;
    margin: 0;
    color: white;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
}
/*------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------FILTRES------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.filtres-de-recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 35px;
    max-width: 914px;
    width: auto;
    height: 50px;
}
.filtres-de-recherche h3 {
    font-size: 18px;
}
.filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 2px solid #D9D9D9 ;
    background-color: #FFFFFF;
    border-radius: 25px;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    font-weight: 700;
}
.filtre:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}
.filtre i {
    margin-right: 10px;
    color: #0065FC;
    font-size: 22px;
}
/*------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------HEBERGEMENTS----------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1339px;
    max-height: auto;
    margin-top: 50px;
    
}
/*Etoiles d'évaluation*/
.stars-evaluation {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    width: 68px;
    
}
.blue-star { color:#0065FC }
.grey-star { color: #F2F2F2; }
/*------------------------------------------------------------------------------------------------------*/
/*-------------------------------------HEBERGEMENTS EN VILLE--------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.hebergements-en-ville {
    padding: 40px 40px 40px 40px;
    border-radius: 20px;
    margin-right: 40px;
    background-color: #F2F2F2;
}
.all-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    max-width: 800px;
    
}
/*Propriétés d'une carte*/
.all-cards .card {
    display: flex;
    flex-direction: column;
    height: 183px;
    width: 236px;
    margin-top: 23px;
    background-color: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    padding-bottom: 6px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card-image img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    max-height: 124px;
    object-fit:cover;
}
.card-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 204px;
    height: 39px;
    margin-left: 11px;
    margin-top: 4px;
}
.card-description h5 {
    margin-top: 4px;
    margin-bottom: 4px;
}
.hebergements-en-ville h2 {
    margin-top: 20px;
}
/*------------------------------------------------------------------------------------------------------*/
/*--------------------------------------LES PLUS POPULAIRES---------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.hebergements-populaires {
    background-color: #F2F2F2;
    max-width: 420px;
    padding: 40px 40px 0px 40px;
    border-radius: 20px;
}
.titre-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.titre-populaires i {
    color: #0065FC;
}
/*Toutes les cartes Populaires*/
.all-populaires {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 26px;
}
.carte-populaire {
    display: flex;
    flex-direction: row;
    width: 343px;
    height: 144px;
    padding: 0;
    margin: 0;
    margin-bottom: 33px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border: 5px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 20px;
}

/*Image de carte*/
.card-image-populaires img {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 144px;
    width: 137px;
    object-fit: cover;
}
/*Texte de carte*/
.description-populaires {
    margin-top: 16px;
    margin-left: 15px;
    height: 110px;                             /*UNE IDEE POUR LA DISPOSITION*/
}
.description-populaires h5{
    margin-top: 7px;
}
/*Alignement des étoiles en bas de la carte*/
.carte-populaire .stars-evaluation {
    margin-left: 15px;
    flex-direction: row;
    align-items: flex-end; 
}
/*------------------------------------------------------------------------------------------------------*/
/*---------------------------------------ACTIVITES EN VILLE---------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.activites-en-ville {
    margin-top: 60px;
    
}
.liste-activites {
    display: flex;
    flex-direction: row;
    width: 302px;
    height: auto;
    max-height: 445px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 0px;
}
.carte-activite {
    background-color: #FFFFFF;
    border-radius: 20px;
    max-width: 302px;
    height: 445px;
    margin-right: 43px;
}
.carte-activite img {
    display: flex;
    justify-content: center;
    width: 302px;
    height: 395px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.carte-activite h3 {
    margin-top: 15px;
    margin-left: 20px;
}
/*------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------FOOTER & FIN-----------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
footer {
    display: flex;
    align-items: flex-start;
    margin-top: 60px;
    background-color: #F2F2F2;
    height: 225px;
    width: auto;
    max-width: 1339px;
}
footer a {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
footer h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}
footer h4 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
}
.all-footers {
    padding-top: 45px;
    display: flex;
    flex-direction: row;
}
footer .footer_1 {
    margin-left: 70px;
    margin-right: 230px;
}
footer .footer_2 { margin-right: 239px; }