@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    color: black;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1339px;
    padding-left: 50px;
    padding-right: 50px;
}
ul {
    list-style: none;
}
h1 {
    font-weight: 700;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}
h2 {
    
    font-weight: 700;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}
h3 {
    font-weight: 700;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
h4 {
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
h5 {
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}







/*----------------------------------*/
/*----------SECTION HEADER----------*/
/*----------------------------------*/
#logo {
    height: 19px;
    padding-top: 44px;
    padding-bottom: 63px;
}

header div:hover {
    cursor: pointer;
    border-top: 2px solid #0065FC;
}
a:visited, a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #0065FC;
}

header {
    
    height: 126px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    
}
nav ul {
    display: flex;
    height: 126px;
    width: auto;
    padding: 0;
    margin: 0;
    
    
}
nav li {
    width: 162px;
    padding-top: 48px;
    padding-bottom: 59px;
    margin: 0;
    display: flex;
    justify-content: center;
}
.link-1 {
    border-top: 2px solid #FFFFFF;
    width: 162px;
}
.link-2 {
    border-top: 2px solid #FFFFFF;
    width: 162px;
}
.menu-hebergements {
    width: 113px;
    text-align: center;
}
.menu-activites {
    width: 63px;
    text-align: center;
}










/*------------------------------------------*/
/*----------SECTION MAIN RECHERCHE----------*/
/*------------------------------------------*/

.main-title {
    margin-bottom: 20px;
}
.main-title h2{
    margin-top: 8px;
}

/*BOUTON DE LOCALISATION*/
.location-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    padding: 16px 18px 15px 18px;
    border-radius: 15px 0px 0px 15px;
}
.location-dot i {
    width: 14px;
    height: 18px;
}

/*BARRE DE RECHERCHE*/
.section-search-bar {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding: 0;
}
.section-search-bar-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 49px;
    width: 332px;
    font-size: 18px;
    padding: 0;
    background-color: #F2F2F2;
    border-radius: 15px;
}

/*ZONE DE RECHERCHE*/
.search-zone-text{
    color: black;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    border: 0;
    padding-left: 16px;
    padding-right: 0px;
    width: 232px;
    height: 47px;
    border: #F2F2F2;
}
::placeholder {
    font-family: 'Raleway';
    color: black;
}

/*BOUTON "RECHERCHER"*/
.search-button {
    display: flex;
    align-items: center;
    height: 49px;
    width: 132px;
    background-color: #0065FC;
    border-radius:  0px 15px 15px 0px;
}
.search-button a {
    font-weight: 700;
    width: 100px;
    height: 21px;
    margin: 0;
    color: white;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
}










/*---------------------------*/
/*----------FILTRES----------*/
/*---------------------------*/
.filtres-de-recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 914px;
    height: 50px;
    
    margin-top: 32px;
    margin-bottom: 35px;
    font-size: 17px;
    font-weight: 700;
}
/*Titre de la section "Filtre"*/
.filtres-de-recherche h3 {
    margin: 0px;
    font-size: 18px;
}
/*Ensemble des composants d'un Filtre*/
.filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 2px solid #D9D9D9 ;
    background-color: #FFFFFF;
    border-radius: 25px;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
}
.filtre:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}
.filtre i {
    margin-right: 10px;
    color: #0065FC;
    font-size: 22px;
}










/*---------------------------------------------------------------*/
/*----------HEBERGEMENTS EN VILLE + LES PLUS POPULAIRES----------*/
/*---------------------------------------------------------------*/
.hebergements {
    max-width: 1339px;
    max-height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
/*Etoiles d'évaluation*/
.stars-evaluation {
    font-size: 12px;
    width: 68px;
    display: flex;
    flex-direction: row;
}
.blue-star { color:#0065FC }
.grey-star { color: #F2F2F2; }










/*-----------------------------------------*/
/*----------HEBERGEMENTS EN VILLE----------*/
/*-----------------------------------------*/
.hebergements-en-ville {
    
    padding: 40px 40px 40px 40px;
    border-radius: 20px;
    margin-right: 40px;
    background-color: #F2F2F2;
}
.hebergements-en-ville h2 {
    margin-top: 10px;
    margin-bottom: 6px;
}
/*Toutes les cartes*/
.all-cards {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-top: 23px;
}
.all-cards ul {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.all-cards li {
    height: 183px;
    width: 236px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    padding-bottom: 6px;
    
}
/*Propriétés d'une carte*/
.card-image img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    max-height: 124px;
    object-fit:cover;
}
.card-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 204px;
    height: 39px;
    margin-left: 11px;
    margin-top: 4px;
}
.card-description h5 {
    margin-top: 4px;
    margin-bottom: 4px;
}





/*---------------------------------------*/
/*----------LES PLUS POPULAIRES----------*/
/*---------------------------------------*/
.hebergements-populaires {
    background-color: #F2F2F2;
    max-width: 420px;
    padding: 40px 40px 0px 40px;
    border-radius: 20px;
}
.titre-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.titre-populaires i {
    color: #0065FC;
}
/*Toutes les Populaires*/

.all-populaires {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
}

.all-populaires ul {
    width: 343px;
    height: 144px;
    padding: 0;
    margin: 0;
    margin-bottom: 33px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.all-populaires li {
    border: 5px solid #FFFFFF;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}



.card-image-populaires {
    max-width: 137px;
    max-height: 144px;
}
.card-image-populaires img {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 144px;
    width: 137px;
    object-fit: cover;
}

.description-populaires {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 15px;
}













/*-----------------------------*/
/*----------ACTIVITES----------*/
/*-----------------------------*/
.activites-en-ville {
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
}










/*--------------------------*/
/*----------FOOTER----------*/
/*--------------------------*/
footer {
    display: flex;
    align-items: flex-start;
    margin-top: 60px;
    background-color: #F2F2F2;
    height: 225px;
    max-width: 1339px;
}
footer a {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
footer h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}
footer h4 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
}
.all-footers {
    padding-top: 45px;
    display: flex;
    flex-direction: row;
}
footer .footer_1 {
    margin-left: 70px;
    margin-right: 230px;
}
footer .footer_2 {
    margin-right: 239px;
}